
/* 공통속성 */
body{font-family: 'poppins','Noto Sans KR';}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-kr-v13-latin_korean-regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
		url('../fonts/noto-sans-kr-v13-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-kr-v13-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-kr-v13-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
		url('../fonts/noto-sans-kr-v13-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto-sans-kr-v13-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/noto-sans-kr-v13-latin_korean-500.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
		url('../fonts/noto-sans-kr-v13-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-kr-v13-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-kr-v13-latin_korean-500.woff') format('woff'), /* Modern Browsers */
		url('../fonts/noto-sans-kr-v13-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto-sans-kr-v13-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/noto-sans-kr-v13-latin_korean-700.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
		url('../fonts/noto-sans-kr-v13-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-kr-v13-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-kr-v13-latin_korean-700.woff') format('woff'), /* Modern Browsers */
		url('../fonts/noto-sans-kr-v13-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto-sans-kr-v13-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
	}

/* 레이아웃  */

.container{width: 1170px; height: inherit; margin:0 auto;}
/* .nav_container{width: 1170px; margin:0 auto; position: relative;} */

/* 헤더영역 */

#header{width: 100%; height: 62px; background:linear-gradient(transparent 62px, rgba(255,255,255,255) 50px, rgba(255,255,255,255) );  position: fixed;  z-index: 100; border-bottom: 1px solid #777; box-sizing: border-box; overflow: hidden; letter-spacing: -0.05em;}
#header h1 a{position: absolute; width: 100px; height: 61px; display: block; background: url(../img/common/alpha_black.png) no-repeat; background-size:100px 40px; margin-top: 10px;}
.login_wrap{width: 50px; height: 62px; position: absolute; right: 50px; float: right;}
.login_wrap a{color: #fff; font-size: 20px; font-weight: 500; line-height: 62px;}
#header #gnb{width: 920px; height: 62px; position: relative; float: right;}
#header #gnb .depth{position: absolute; width: 100%; height: 100%; top: 0; left: 50px;}
#header #gnb .depth::after{content: ""; clear: both; display: block;}
#header #gnb .depth>li{float: left;}
#header #gnb .depth>li>a:hover{color: #666;}
#header #gnb .depth>li>a{display: block; width: 153px; height: 47px; background: transparent; text-align: center; font-size: 16px; color: #fff; font-family:'Noto Sans KR'; padding-top:15px;}
#header #gnb .depth>li>ul{width: 100%; height: 350px; display: block; padding-top: 40px; border-left: 1px solid #d9d9d9;}
#header #gnb .depth>li>ul>li{display:block;}
#header #gnb .depth>li>ul>li>a{display: block; width: 100%; height: 37px; text-align: center; background: transparent; font-size: 15px; font-family: 'Noto Sans KR'; color: #666;} 
#header #gnb .depth>li>ul>li>a:hover{color: #000;}


/* main 1page */
#main1{width: 100%; height: 100%;}
#main1_box{position: relative; z-index: 10; width: 100%; height: 100%;}
#main1_box>#main1_video{ width: 100%;}

/* main 2page */

#main2{width: 100%; height: 969px; background: url(../img/main_full_dx.jpg) no-repeat; background-size: 100% 100%; position: relative;}
.col_slidemenu{ position: relative; top: 100px; left: 0;}
.col_slidemenu>ul>li{padding:17px 20px 37px 38px;}
.col_slidemenu>ul>li:nth-child(1):hover{border-left: 3px solid #fff; transition: 0.2s; box-sizing: border-box;}
.col_slidemenu>ul>li:nth-child(2):hover{border-left: 3px solid #fff; transition: 0.2s; box-sizing: border-box;}
.col_slidemenu>ul>li:nth-child(3):hover{border-left: 3px solid #fff; transition: 0.2s; box-sizing: border-box;}
.col_slidemenu>ul>li>a{font-size: 44px; color: white; margin-bottom: 20px; font-weight: 700; display: inline-block; letter-spacing:-0.05em}
.col_slidemenu>ul>li>p{font-size: 17px; color: #fff; margin-bottom: 24px;}
.link>a{font-size: 17px; color: #fff; display: inline-block;}
.link>a::after{content: "/"; padding: 0px 10px 0px 14px;}
.link>a:last-child::after{content: none;}
/* .commerce:hover .main2{background: url(../img/main_full_commerce.jpg) no-repeat; background-size: 100% 100%; }
.DX:hover .main2{background: url(../img/main_full_dx.jpg) no-repeat; background-size: 100% 100%; }
.contents:hover .main2{background: url(../img/main_full_contents.jpg) no-repeat; background-size: 100% 100%; } */



/* main 3page */

#main3{width: 100%; height: 969px; position: relative; margin-top: 5px;}
.row_slidemenu{height: auto; padding-top: 42px; position: absolute; top: 10%;}
.txt{width: 100%; height: 220px; font-size: 44px; color: #000; font-weight: 700; line-height: 1.5; letter-spacing: -2px;}
.management{width:370px;display: inline-block; margin-right: 30px;}
.contribution{width:370px;display: inline-block; margin-right: 30px;}
.cooperation{width:370px; display: inline-block;}
.slide_menu{width: 100%; height: 100%; box-sizing: content-box; position: relative; display: block;}
.slide>img{width: 100%; margin-bottom: 28px;}
.slide:hover>.txtslide_1{border-bottom: 3px solid #000; transition: 0.2s; box-sizing: border-box;;}
.slide .txtslide_1{font-size: 28px; margin-bottom: 30px; padding-bottom: 40px; font-weight: 500; vertical-align: -1px; letter-spacing: -2px;}
.slide .txtslide_2{font-size: 21px; color: #000; font-weight: 500; margin-bottom: 11px; letter-spacing: -0.05em;}
.slide .txtslide_3{font-size: 16px; color: #555; line-height: 1.7;}
.slide .txtslide_1 span{padding-right: 12px; font-size: 31px; font-weight: 500; vertical-align: -1px;}

/* main 4page */

#main4{width: 100%; height: 2224px; background-color: rgb(0, 0, 0); color: #fff;}
#main4 h3{padding-bottom: 20px;font-size: 28px;font-weight: 700; color: #fff;}
.box_cont{width: 100%; height:267px; margin-top: 5px; margin-bottom: 114px;}
.box_stock{background: #111; width: 100%; height: 134px; padding:38px 30px; margin: 0 auto;}
.stock{width: 510px; height: 100%; float: left; margin-top: 30px;}
.box_stock .info_now{height: 74px; padding-bottom: 26px; margin: 0 auto;}
.box_stock .info-now:after{content:"";display: block;clear: both;}
.box_stock .info_now #price{font-family:'Apple SD Gothic Neo', sans-serif; height: 48px; color: #fff; font-size: 60px; font-weight: 500; margin-top: -12px; padding-right: 20px; float: left; letter-spacing: -0.1em;}
.box_stock .info_now #txt_time{color: #888; float: left; padding-top: 4px; line-height: 1.4;}
.info_day{height: 52px; padding-bottom: 30px;}
.info_day table tr th{width: 25%; font-size: 18px; color: #fff; text-align: left;}
.info_day table tr td{width: 25%; font-size: 18px; color: #fff; text-align: right; padding-left: 30px;}
.info_day td:nth-child(2){padding-right: 18px;border-right: 1px solid #4d4d4d;}
.info_day th:nth-child(3){padding-left: 18px;}
.employment{width: 510px; height: 100%; float: right; margin-top: 30px; margin-left:-90px;}
.employment .box_employ{width: 100%; height: 267px; margin-left: -60px;}
.box_employ p{padding-bottom: 20px;font-size: 28px;font-weight: 700; color: #fff;}
.box_employ .jop_career{position: relative; height: 74px;}
.box_employ .jop_career::after{content: ""; display: block; clear: both;}
.box_employ .jop_career>a{color: #fff; font-size: 18px;}
.box_employ .jop_career>a>.tit{display: block; width: 158px; color: #fff; font-size: 20px; float: left; border: 1px solid #fff; border-radius: 30px; padding:15px 10px; text-align: center;}
.box_employ .jop_career>a>p{color: #fff; float: left; font-size: 18px; padding: 2px 0; margin-left: 10px;}
.box_employ .jop_career>a>.dday{float: right;}
.box_employ .jop_career>a>p{color: #fff; font-size: 18px; padding: 2px 0; margin-left: 10px; line-height: 1.2;}
.box_employ .jop_new{position: relative; height: 74px;}
.box_employ .jop_new>a{color: #fff; font-size: 18px;}
.box_employ .jop_new>a .tit{display: block; width: 158px; color: #fff; font-size: 20px; float: left; border: 1px solid #fff; border-radius: 30px; padding:15px 10px; text-align: center;}
.box_employ .jop_new>a>p{color: #fff; float: left; font-size: 18px; padding: 2px 0; margin-left: 10px;}

.cont{width: 100%; height: 969px;}
.cont .cont_banner{}
.cont .cont_banner ul{position: relative;}
.cont .cont_banner ul>li{width: 570px; height: 474px; margin-bottom: 100px;}
.cont .cont_banner ul>li:nth-child(1){float: left; margin-right: -60px; padding-right: 15px;}
.cont .cont_banner ul>li:nth-child(3){float: left; padding-right: 15px;}
.cont .cont_banner ul>li:nth-child(5){float: left; padding-right: 15px;}
.cont .cont_banner ul>li:nth-child(2){float: right; padding-left: 15px;}
.cont .cont_banner ul>li:nth-child(4){float: right; padding-left: 15px;}
.cont .cont_banner ul>li:nth-child(6){float: right; padding-left: 15px;}
.cont .cont_banner ul>li a{display: block;}
.cont .cont_banner ul>li>a>img{width: 100%; height: 310px;}
.cont .cont_banner .txt_wrap{width: 100%; height: 100%;}
.cont .cont_banner .txt_wrap .title{font-size: 16px; color: #fff; font-weight: 700; margin:16px 0; font-family:'Noto Sans KR', sans-serif; }
.cont .cont_banner .img_wrap1 .txt_wrap .title>.txt_tit{display: block; width: 114px; height: 33px; background: url(../img/main-title_pc.png) no-repeat; background-position: 0 -120px; background-size: 150px;}
.cont .cont_banner .img_wrap2 .txt_wrap .title>.txt_tit{display: block; width: 114px; height: 33px; background: url(../img/main-title_pc.png) no-repeat; background-position: 0 0; background-size: 150px;}
.cont .cont_banner .img_wrap3 .txt_wrap .title>.txt_tit{display: block; width: 114px; height: 33px; background: url(../img/main-title_pc.png) no-repeat; background-position: 0 -120px; background-size: 150px;}
.cont .cont_banner .img_wrap4 .txt_wrap .title>.txt_tit{display: block; width: 114px; height: 33px; background: url(../img/main-title_pc.png) no-repeat; background-position: 0 -40px; background-size: 150px;}
.cont .cont_banner .img_wrap5 .txt_wrap .title>.txt_tit{display: block; width: 114px; height: 33px; background: url(../img/main-title_pc.png) no-repeat; background-position: 0 -120px; background-size: 150px;}
.cont .cont_banner .img_wrap6 .txt_wrap .title>.txt_tit{display: block; width: 114px; height: 33px; background: url(../img/main-title_pc.png) no-repeat; background-position: 0 -120px; background-size: 150px;}
.cont .cont_banner .txt_wrap .txt1{position: relative; font-size: 22px; color: #fff; margin-bottom: 8px; font-weight: bold;  line-height: 1.5; letter-spacing: -0.05em; text-decoration:none; transition: all .5s ease-in;}
.cont .cont_banner .txt_wrap .txt1:after{content: "";position: absolute;left: 0;bottom: -10px;width: 0px;height: 2px;margin: 5px 0 0;transition: all 0.2s ease-in-out;transition-duration: 0.3s;opacity: 0;background-color: #fff;}
.cont .cont_banner .txt_wrap .txt1:hover:after{width: 100%;opacity: 1;}
.cont .cont_banner .txt_wrap .txt2{display: block; width: 566px; height: 50px; font-size: 16px; color:#888;letter-spacing: -0.05em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}


/* footer */
#footer{width: 100%; height: 81px; padding: 50px 0;}
.top_fix{position: fixed; bottom: 50px; right: 50px; background: url(../img/common/btn_top.png) no-repeat 100%; display: block; width: 60px; height: 60px; background-size: 50px;}
.top_fix:hover{position: fixed; bottom: 50px; right: 50px; background: url(../img/common/btn_top_on.png) no-repeat 100%; display: block; width: 60px; height: 60px; background-size: 50px;}
.footer_container{width: 1170px; margin: 0 auto; height:inherit; position: relative;}
.link{width: 100%;}
.link ul{width: 100%; height: 44px; position: relative;}
.link ul li{float: left; margin:0 26px 28px 0; display: inline-block;}
.link ul li a{display: block; font-size: 16px; font-weight: 700; color: #000;  letter-spacing: -0.05em;}
.link ul li:nth-child(3)>a{color: red;}
.link ul li a::after{content: "";}
.link_sns{position: absolute; top: -7px ;right: 200px; width: 230px; height: 36px;}
.link_sns a{display:inline-block; width: 36px; height: 36px; margin-left: 5px; background: url(../img/common/btn_sns_pc.png) no-repeat 0 0 / 100px auto; }
.link_sns a.facebook{background-position: 0 0; }
.link_sns a.youtube{background-position: 0 -50px;}
.link_sns a.blog{background-position: 0 -100px;}
.link_sns a.post{background-position: 0 -150px;}
.link_sns a.ccm{width: 40px; background-position: 0 -200px;}
.family-site{position: absolute; width: 170px; height: 36px; top: -10px; right: 0; border-bottom: 1px solid #000; outline: none; background: none; text-align: left; font-weight: 500;font-family: 'poppins'; letter-spacing: -0.05em;}
.family-site::after{content: ""; display: inline-block; background: url(../img/common/ic_arrow_down.png) no-repeat 100%; transform: rotate(-180deg); width: 50px; height: 40px;  background-size: 25px; position: absolute; top: 0px; right: -20px}
.family-site:focus:after{content: ""; display: inline-block; background: url(../img/common/ic_arrow_down.png) no-repeat 100%; width: 50px; height: 40px;  background-size: 25px; position: absolute; top: 0px; right: -20px}
.txt_copyright{float: left; font-size: 14px; color: #a3a3a3; width: 100%; letter-spacing: -0.05em;}
.txt_copyright .txt1{display: block; width: 100%; height: 14px; margin-bottom: 8px}
.txt_copyright .txt2{display: block; width: 100%; height: 14px;}


